<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>登录</title>
</head>
<script type="text/javascript" src="js/js_lead-in.js"></script>

<body>
	<canvas id="Mycanvas"></canvas>
	<script type="text/javascript" src="js/background.js"></script>
	<div id="control">
		<div class="loginform">
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span><b>登录</b></span>
					<el-button style="float: right; padding: 3px 0" @click="regist" type="text">没有账号？点我注册
					</el-button>
				</div>
				<el-form hide-required-asterisk=true :model="loginform" status-icon :rules="rules" ref="loginform"
					label-width="100px" class="demo-ruleForm">
					<el-form-item label="用户名" size="medium" prop="username">
						<el-input v-model="loginform.username" placeholder="请输入用户名" class="input"></el-input>
					</el-form-item>
					<el-form-item label="密码" size="medium" prop="password" autocomplete="off">
						<el-input type="password" v-model="loginform.password" placeholder="请输入密码" class="input"></el-input>
					</el-form-item>
					<el-form-item label="角色" prop="character">
						<el-radio-group v-model="loginform.character" class="chooseType">
							<el-radio label="用户"></el-radio>
							<el-radio label="管理员"></el-radio>
						</el-radio-group>
					</el-form-item>
				</el-form>
				<center>
					<el-button type="primary" @click="submitForm('loginform')">登录</el-button>
					<el-button @click="resetForm('loginform')">重置</el-button>
				</center>
			</el-card>
		</div>
	</div>
</body>

<script>
	var vm = new Vue({
		el: '#control',
		data: {
			loginform: {
				username: '',
				password: '',
				character: '用户',
			},
			rules: {
				username: [
					{ required: true, message: '请输入用户名', trigger: 'blur' },
				],
				password: [
					{ required: true, message: '请输入密码', trigger: 'blur' }
				],
				character: [
					{ required: true, message: '请选择角色', trigger: 'blur' }
				],
			}
		},
		methods: {
			success() {
				this.$alert('在？你登录成功了！', '登录结果', {
					confirmButtonText: '确定',
					callback: action => {
						this.$message({
							type: 'info',
							message: `action: ${action}`
						})
					}
				});
			},
			failconnect() {
				this.$alert('在？连不上后端哦', '登录结果', {
					confirmButtonText: '确定',
					callback: action => {
						this.$message({
							type: 'info',
							message: `action: ${action}`
						})
					}
				});
			},
			submitForm(formName) {
				this.$refs[formName].validate((valid) => {
					if (valid) {
						if (this.loginform.character == '用户') {
							this.$http.post(baseurl + '/login',
								{
									username: this.loginform.username,
									password: this.loginform.password
								},
								{ emulateJSON: true }).then(function (res) {
									if (!res.ok) {
										this.$message.error('登录失败：服务器内部错误');
										return
									}
									else {
										this.$message({
											message: '登录成功',
											type: 'success'
										});
										const token = res.body.token
										const User = JSON.stringify(res.body.User)
										localStorage.setItem('User', User)
										localStorage.setItem('token', token)
										window.location.href = "U_information.html"
									}
								}, function (res) {
									if (res.status == 401) {
										this.$message.error('登录失败：用户名或密码错误');
									}
									else if (res.status == 403) {
										this.$message.error('登录失败：该账号已被禁止登陆');
									}
									else {
										this.$message.error('登录失败：服务器通信异常');
									}
								});
						} else {
							this.$http.post(baseurl + '/login_admin',
								{
									username: this.loginform.username,
									password: this.loginform.password
								},
								{ emulateJSON: true }).then(function (res) {
									if (!res.ok) {
										this.$message.error('登录失败：服务器内部错误');
										return
									}
									else {
										this.$message({
											message: '登录成功',
											type: 'success'
										});
										const token = res.body.token
										const Manage = JSON.stringify(res.body.Manage)
										localStorage.setItem('Manage', Manage)
										localStorage.setItem('token', token)
										window.location.href = "M_information.html"
									}
								}, function (res) {
									if (res.status == 401) {
										this.$message.error('登录失败：用户名或密码错误');
									}
									else if (res.status == 403) {
										this.$message.error('登录失败：该账号已被禁止登陆');
									}
									else {
										this.$message.error('登录失败：服务器通信异常');
									}
								});
						}
					} else {
						return false;
					}
				});
			},
			resetForm(formName) {
				this.$refs[formName].resetFields();
			},
			regist() {
				window.location.href = "regist.html"
			}
		},
	});
</script>
<style>
	#control {
		position: fixed;
		top: 15%;
		left: 50%;
	}

	.loginform {
		width: 400px;
		margin-left: -200px;
	}

	.input {
		width: 230px;
	}

	.chooseType {
		margin-top: 10.5px;
	}

	.box-card {
		width: 400px;
	}
</style>


</html>