<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>登录</title>
</head>
<script type="text/javascript" src="js/js_lead-in.js"></script>

<body>
	<div id="control">
		<div class="loginform">
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span>登录</span>
					<el-button style="float: right; padding: 3px 0" @click="regist" type="text">没有账号？点我注册</el-button>
				</div>
				账号：<el-input v-model="loginform.username" placeholder="请输入用户名" class='input'></el-input><br>
				密码：<el-input v-model="loginform.password" placeholder="请输入密码" class='input'></el-input><br>
				<center>
					<el-button type="primary" @click="login">登录</el-button>
				</center>
			</el-card>
		</div>
	</div>
</body>

<script>
	var vm = new Vue({
		el: '#control',
		data: {
			loginform: {
				username: '',
				password: '',
			}
		},
		methods: {
			success() {
				this.$alert('在？你登录成功了！', '登录结果', {
					confirmButtonText: '确定',
					callback: action => {
						this.$message({
							type: 'info',
							message: `action: ${action}`
						})
					}
				});
			},
			failconnect() {
				this.$alert('在？连不上后端哦', '登录结果', {
					confirmButtonText: '确定',
					callback: action => {
						this.$message({
							type: 'info',
							message: `action: ${action}`
						})
					}
				});
			},
			login() {
				this.$http.post(baseurl+'/login',
					{
						username: this.loginform.username,
						password: this.loginform.password
					},
					{ emulateJSON: true }).then(function (res) {
						document.write(res.body);
						if (!res.ok) {
							console.log('登录失败')
							return
						}
						else {
							console.log('登陆成功')
							const token = res.body.token
							const User = JSON.stringify(res.body.User)
							console.log(token);
							localStorage.setItem('User', User)
							localStorage.setItem('token', token)
							window.location.href = "M_information.html"
						}
					}, function (res) {
						console.log(res.status);
						console.log('服务器连接异常')
					});
			},
			regist() {
				window.location.href = "regist.html"
			}
		},
	});
</script>
<style>
	.loginform {
		width: 400px;
	}

	.input {
		width: 250px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
</style>


</html>