<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>商品列表</title>
</head>
<script type="text/javascript" src="js/js_lead-in.js"></script>

<body>
	<div id="control">
		<script type="text/javascript" src="js/M_frame_start.js"></script>
		<div class='title'>添加商品</div>
		　　<el-form :model="goodsForm" :rules="rules" ref="goodsForm" label-width="100px" class="demo-goodsForm">
			<el-form-item label="商品名称" prop="name">
				<el-input v-model="goodsForm.name" maxlength=30 show-word-limit></el-input>
			</el-form-item>
			<el-form-item label="商品种类" prop="type">
				<el-select v-model="goodsForm.type" placeholder="请选择商品种类">
					<el-option label="家电" value="1"></el-option>
					<el-option label="手机" value="2"></el-option>
					<el-option label="电脑" value="3"></el-option>
					<el-option label="家居" value="4"></el-option>
					<el-option label="男装" value="5"></el-option>
					<el-option label="美妆" value="6"></el-option>
					<el-option label="鞋类" value="7"></el-option>
					<el-option label="母婴" value="8"></el-option>
					<el-option label="图书" value="9"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="商品价格" prop="price" style="width:325px">
				<el-input v-model="goodsForm.price">
				</el-input>
			</el-form-item>
			<el-form-item label="商品库存" prop="stock" style="width:325px">
				<el-input v-model="goodsForm.stock">
				</el-input>
			</el-form-item>
			<el-form-item label="商品描述" prop="description">
				<el-input type="textarea" :rows="3" v-model="goodsForm.description" maxlength=100 show-word-limit>
				</el-input>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="submitAdd('goodsForm')">添加</el-button>
				<el-button @click="resetForm('goodsForm')">重置</el-button>
			</el-form-item>
		</el-form>
		<script type="text/javascript" src="js/M_frame_end.js"></script>
	</div>
</body>

<script>
	var vm = new Vue({
		el: '#control',
		data: {
			title: '添加商品',
			goodsForm: { name: '', type: '', price: '', stock: '', description: '', },
			Manage: {
				M_id: '',
				M_name: '',
				M_grade: ''
			},
			rules: {
				name: [
					{ required: true, message: '请输入商品名称', trigger: 'blur' },
					{ min: 1, max: 30, message: '商品名称不超过30个字符', trigger: 'blur' }
				],
				type: [
					{ required: true, message: '请选择商品种类', trigger: 'change' }
				],
				stock: [
					{ required: true, message: '请输入商品库存', trigger: 'blur' },
					{ min: 0, message: '库存必须为非负整数', trigger: 'blur' },
					{ pattern: /^[1-9]\d*$/, message: '库存必须为非负整数', trigger: 'blur' },
				],
				price: [
					{ required: true, message: '请输入商品价格', trigger: 'blur' },
					{ pattern: /^(?=.*[1-9])\d+(\.\d{1,2})?$/, message: '请输入大于0元的的有效价格', trigger: 'blur' },
				],
				description: [
					{ required: true, message: '请填写商品描述', trigger: 'blur' },
					{ max: 100, message: '商品描述需少于100个字符', trigger: 'blur' }
				]
			}

		},
		methods: {
			exit() {
				localStorage.clear();
				window.location.href = 'login.html'
			},
			submitAdd(formName) {
				console.log(this.goodsForm)
				this.$refs[formName].validate((valid) => {
					if (valid) {
						this.$http.post(baseurl + '/addgoods',
							{
								token: localStorage['token'],
								C_name: this.goodsForm.name,
								C_price: this.goodsForm.price,
								C_disc: this.goodsForm.description,
								C_stock: this.goodsForm.stock,
								T_id: this.goodsForm.type,
							},
							{ emulateJSON: true }).then(function (res) {
								if (!res.ok) {
									this.$message.error('添加失败：请求被拒绝');
									return
								}
								else {
									this.$message({
										message: '添加成功',
										type: 'success'
									});
								}
							}, function (res) {
								this.$message.error('添加失败：服务器连接异常');
							});
					} else {
						return false;
					}
				});
			},
			resetForm(formName) {
				this.$refs[formName].resetFields();
			},
		},
		mounted() {
			if (!localStorage['token']) {
				window.location.href = 'login.html'
			}
			this.Manage.M_id = JSON.parse(localStorage.Manage)['M_id']
			this.Manage.M_name = JSON.parse(localStorage.Manage)['M_name']
			this.Manage.M_grade = JSON.parse(localStorage.Manage)['M_grade']
		}
	})
</script>

<style>
	.bigtitle {
		font-size: 25px;
		font-weight: 500;
	}

	.title {
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 20px;
	}
</style>

</html>