<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>管理员列表</title>
</head>
<script type="text/javascript" src="js/js_lead-in.js"></script>

<body>
	<div id="control">
		<script type="text/javascript" src="js/M_frame_start.js"></script>
		　　<el-table v-loading="loading"
			:data="tableData.filter(data => !search || data.manageid.toLowerCase().includes(search.toLowerCase())|| data.managename.toLowerCase().includes(search.toLowerCase())|| data.managephone.toLowerCase().includes(search.toLowerCase()))"
			style="width: 100%" stripe>
			<el-table-column label="管理员ID" prop="managerid">
			</el-table-column>
			<el-table-column label="用户名" prop="managername">
			</el-table-column>
			<el-table-column label="管理权限">
				<template slot-scope="scope">
					{{scope.row.managergrade=='2'?'超级管理员':'商城管理员'}}
				</template>
			</el-table-column>
			<el-table-column label="账户状态">
				<template slot-scope="scope">
					{{scope.row.managerstate=='1'?'正常':'封禁'}}
				</template>
			</el-table-column>
			<el-table-column align="center">
				<template slot="header" slot-scope="scope">
					<el-input v-model="search" size="mini" placeholder="输入关键字搜索" />
				</template>
				<template slot-scope="scope">
					<div v-if="Manage.M_grade>scope.row.managergrade">
						<el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除
						</el-button>
					</div>
				</template>
			</el-table-column>
		</el-table>
		<script type="text/javascript" src="js/M_frame_end.js"></script>
	</div>
</body>

<script>
	var vm = new Vue({
		el: '#control',
		data: {
			title: '管理员列表',
			loading: true,
			tableData: [],
			search: '',
			Manage: {
				M_id: '',
				M_name: '',
				M_grade: '',
			},
		},
		methods: {
			exit() {
				localStorage.clear();
				window.location.href = 'login.html'
			},
			handleDelete(index, row) {
				this.$http.post(baseurl + '/deletemanager',
					{
						token: localStorage['token'],
						M_id: row.managerid,
					},
					{ emulateJSON: true }).then(function (res) {
						if (!res.ok) {
							this.$message.error('删除失败：请求被拒绝');
							return
						}
						else {
							this.$message({
								message: '删除成功：他号没了',
								type: 'success'
							});
							this.tableData.splice(index, 1);
						}
					}, function (res) {
						this.$message.error('删除失败：服务器连接异常');
					});
			},
			getData() {
				this.$http.post(baseurl + '/getallmanager',
					{
						token: localStorage['token'],
					},
					{ emulateJSON: true }).then(function (res) {
						if (!res.ok) {
							this.$message.error('获取数据失败：请求被拒绝');
							this.loading = false
							return
						}
						else {
							this.tableData = eval('(' + res.bodyText + ')')
							this.loading = false
						}
					}, function (res) {
						this.$message.error('获取数据失败：服务器连接异常');
						this.loading = false
					});
			}
		},
		mounted() {
			if (!localStorage['token']) {
				window.location.href = 'login.html'
			}
			this.getData()
			this.Manage.M_id = JSON.parse(localStorage.Manage)['M_id']
			this.Manage.M_name = JSON.parse(localStorage.Manage)['M_name']
			this.Manage.M_grade = JSON.parse(localStorage.Manage)['M_grade']
		}
	})
</script>

<style>
	.bigtitle {
		font-size: 25px;
		font-weight: 500;
	}
</style>

</html>