<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>注册</title>
	<link rel="stylesheet" href="css/element.css">
</head>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/element.js"></script>
<script type="text/javascript" src="js/vue-clipboard.min.js"></script>
<script type="text/javascript" src="js/vue-resource.min.js"></script>

<body>
	<div id="control">
		<el-card class="box-card">
			<div slot="header" class="clearfix">
				<span>注册</span>
				<el-button style="float: right; padding: 3px 0" type="text" @click="login">已有账号？点我登录</el-button>
			</div>
			&emsp;用户名：<el-input v-model="registform.username" placeholder="请输入用户名" class='input'></el-input>
			<br>
			<div class="tips">{{tips[0]}}</div><br>
			&emsp;手机号：<el-input v-model="registform.phone" placeholder="请输入手机号" class='input'></el-input>
			<br>
			<div class="tips">{{tips[1]}}</div><br>
			&emsp;&emsp;密码：<el-input v-model="registform.password" placeholder="请输入密码" show-password class='input'>
			</el-input>
			<br>
			<div class="tips">{{tips[2]}}</div><br>
			密码确认：<el-input v-model="registform.checkpwd" placeholder="请再次输入密码" show-password class='input'>
			</el-input>
			<br>
			<div class="tips">{{tips[3]}}</div><br>
			<center>
				<el-button type="primary" @click="regist" :disabled="registflag">注册</el-button>
			</center>
		</el-card>
	</div>
</body>

<script>
	var vm = new Vue({
		el: '#control',
		data: {
			registform: {
				username: '',
				phone: '',
				password: '',
				checkpwd: '',
			},
			tips: ['', '', '', '', '', ''],
			registflag: 1,
		},
		methods: {
			checkform() {
				if (this.registform.username != '' && this.registform.phone != '' && this.registform.password != '' && this.registform.checkpwd != '') {
					if (this.tips[0] == '' && this.tips[1] == '' && this.tips[2] == '' && this.tips[3] == '')
						this.registflag = 0
				}
			},
			regist() {
				this.$http.post('http://192.168.43.249:9090/dddd/register',
					{
						username: this.registform.username,
						password: this.registform.checkpwd,
						phone: this.registform.phone
					},
					{ emulateJSON: true }).then(function (res) {
						document.write(res.body);
						console.log("success");
					}, function (res) {
						console.log(res.status);
						console.log("fail");
					});
			},
			login() {
				window.location.href="login.html"
			}
		},
		watch: {
			'registform.username'(val) {
				val.length < 6 || val.length > 20 ? this.tips[0] = '用户名必须为6-20位' : this.tips[0] = '';
				this.checkform()
			},
			'registform.phone'(val) {
				if (!(/^1[3456789]\d{9}$/.test(val))) {
					this.tips[1] = '手机号格式有误'
				}
				else {
					this.tips[1] = ''
				}
				this.checkform()
			},
			'registform.password'(val) {
				val.length < 6 || val.length > 20 ? this.tips[2] = '密码必须为6-20位' : this.tips[2] = '';
				val != this.registform.checkpwd ? this.tips[3] = '两次密码输入不一致' : this.tips[3] = ''
				this.checkform()
			},
			'registform.checkpwd'(val) {
				if (this.registform.password != '') {
					val != this.registform.password ? this.tips[3] = '两次密码输入不一致' : this.tips[3] = ''
				}
				else {
					this.tips[3] = ''
				}
				this.checkform()
			},
		}
	});
</script>

<style>
	.input {
		width: 250px;
	}

	.tips {
		color: red;
		font-size: 13px;
		float: right;
		text-align: left;
		margin-top: -30px;
		margin-left: 200px;
	}

	.clearfix:before,
	.clearfix:after {
		display: table;
		content: "";
	}

	.clearfix:after {
		clear: both
	}

	.box-card {
		width: 500px;
	}
</style>

</html>