<meta name="viewport" charset=utf-8″ content="width=device-width, initial-scale=1, user-scalable=no" />
<html>

<head>
	<title>注册</title>
</head>
<script type="text/javascript" src="js/js_lead-in.js"></script>

<body>
	<canvas id="Mycanvas"></canvas>
	<script type="text/javascript" src="js/background.js"></script>
	<div id="control">
		<div class="registform">
			<el-card class="box-card">
				<div slot="header" class="clearfix">
					<span><b>注册</b></span>
					<el-button style="float: right; padding: 3px 0" type="text" @click="toLogin">已有账号？点我登录</el-button>
				</div>
				<el-form :model="registform" status-icon :rules="rules" ref="registform" label-width="100px"
					class="demo-ruleForm">
					<el-form-item label="用户名" size="medium" prop="username">
						<el-input v-model="registform.username" placeholder="请输入用户名" class="input"></el-input>
					</el-form-item>
					<el-form-item label="手机号" size="medium" prop="phone">
						<el-input v-model="registform.phone" placeholder="请输入手机号" class="input"></el-input>
					</el-form-item>
					<el-form-item label="密码" size="medium" prop="password" autocomplete="off">
						<el-input type="password" v-model="registform.password" placeholder="请输入密码" class="input" show-password>
						</el-input>
					</el-form-item>
					<el-form-item label="确认密码" size="medium" prop="checkpwd" autocomplete="off">
						<el-input type="password" v-model="registform.checkpwd" placeholder="请再输一次密码" class="input" show-password>
						</el-input>
					</el-form-item>
				</el-form>
				<center>
					<el-button type="primary" @click="submitForm('registform')">注册</el-button>
					<el-button @click="resetForm('registform')">重置</el-button>
				</center>
			</el-card>
		</div>
	</div>
</body>

<script>
	var vm = new Vue({
		el: '#control',
		data() {
			let checkpwd = (rule, value, callback) => {
				if (value !== this.registform.password) {
					callback(new Error('两次输入密码不一致!'));
				} else {
					callback();
				}
			};
			return {
				registform: {
					username: '',
					phone: '',
					password: '',
					checkpwd: '',
				},
				rules: {
					username: [
						{ required: true, message: '请输入用户名', trigger: 'blur' },
						{ min: 6, max: 20, message: '用户名必须为6-20位', trigger: 'blur' }
					],
					phone: [
						{ required: true, message: '请输入手机号', trigger: 'blur' },
						{ pattern: /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/, message: '手机号格式有误', trigger: 'blur' },
					],
					password: [
						{ required: true, message: '请输入密码', trigger: 'blur' },
						{ min: 8, max: 20, message: '密码必须为8-20位', trigger: 'blur' },
						{ pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/, message: '密码必须同时包含数字、字母', trigger: 'blur' },

					],
					checkpwd: [
						{ required: true, message: '请再次输入密码', trigger: 'blur' },
						{ validator: checkpwd, trigger: 'blur' }
					],
				}
			}
		},
		methods: {
			login() {
				this.$http.post(baseurl + '/login',
					{
						username: this.registform.username,
						password: this.registform.password
					},
					{ emulateJSON: true }).then(function (res) {
						if (!res.ok) {
							this.$message.error('登录失败：服务器内部错误');
							return
						}
						else {
							this.$message({
								message: '登录成功',
								type: 'success'
							});
							const token = res.body.token
							const User = JSON.stringify(res.body.User)
							localStorage.setItem('User', User)
							localStorage.setItem('token', token)
							window.location.href = "U_information.html"
						}
					}, function (res) {
						if (res.status == 401) {
							this.$message.error('登录失败：用户名或密码错误');
						}
						else if (res.status == 403) {
							this.$message.error('登录失败：该账号已被禁止登陆');
						}
						else {
							this.$message.error('登录失败：服务器通信异常');
						}
					});
			},
			submitForm(formName) {
				this.$refs[formName].validate((valid) => {
					if (valid) {
						this.$http.post(baseurl + '/register',
							{
								username: this.registform.username,
								password: this.registform.checkpwd,
								phone: this.registform.phone
							},
							{ emulateJSON: true }).then(function (res) {
								this.$message({
									message: '注册成功：3秒后为您自动登录',
									type: 'success',
									duration: 3000,
								});
								setTimeout(() => { this.login() }, 3000);
							}, function (res) {
								if (res.status == 418) {
									this.$message.error('注册失败：用户名已存在');
								}
								else {
									this.$message.error('注册失败：服务器通信异常');
								}
							});
					} else {
						return false;
					}
				});
			},
			toLogin() {
				window.location.href = "login.html"
			}
		},
	});
</script>

<style>
	.input {
		width: 230px;
	}

	#control {
		position: fixed;
		top: 15%;
		left: 50%;
	}

	.registform {
		width: 400px;
		margin-left: -200px;
	}

	.box-card {
		width: 400px;
	}
</style>

</html>